*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    height: 100%;
    background-color: lightblue;
}
.gameSpace{
    position: relative;
    width: 640px;
    height: 640px;
    /* left: 100px;
    top: 5px; */
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
}
.one{
    /* position: absolute; */
    width: 200px;
    /* height: 200px; */
    /* top: 100px;
    left: 800px; */
    margin: 0 auto;
    /*display: none;*/
}
.one h1{
    letter-spacing: 10px;
    font-size: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.one div{
    display: flex;
    align-content: center;
    justify-content: center;
}
.startbtn{
    width: 140px;
    height: 50px;
    border-radius: 10px;
    background-color: #8c97cb;
    font-size: 22px;
    z-index: 10;
    display: flex;
    align-content: center;
    justify-content: center;
    outline: none;
    border: 1px solid white;
    font-weight: bold;
    cursor: pointer;
    transition: all linear .2s;
}
.startbtn:hover{
	/* border: 1px solid  #8c97cb;
	background-color: #c5c8d8; */
	color: #fff;
	/* font-weight: bold; */
    font-size: 23px;
}
.now{
    border: 1px solid red;
    border-radius: 50%;
}